<div class="promo promo-bg opt-in">
  <h3>Best Practices</h3>
  <h2>Design Your Work Relationships as Alliances</h2>

  <a data-sumome-listbuilder-id="{{ sumome-id }}">
    <img src="{{ asset "images/designed-alliance-guide-preview.png" }}"/>
  </a>
  
  <p>
    Start investing in the infrastructure of your relationships with Co Leadership's <b>Guide to Designing Powerful Alliances</b>.
  </p>  

  <div class="cta-container">
    <a class="cta" data-sumome-listbuilder-id="{{ sumome-id }}">Download the free guide</a>
  </div>
</div>