<div class="leadership-experience">
  <h3>1-Day Leadership Experience</h3>
  <h2><a href="{{url}}">Impactful Communication: Powerful Conversations to Build Alignment and Influence without Authority</a></h2>

  <a href="{{url}}">
    <img src="{{ asset "images/feb_workshop.jpg" }}"/>
  </a>

  <p>Break through team friction, build alignment to get on the same page, and create a high-trust and high-performance team. <a href="{{url}}">Reserve your spot.</a></p>
</div>